<div class="contacts">
  <div class="contacts_background">
    <div class="contacts_info">
      <div class="h2">Обратная связь</div>

      <div class="form_mail">
        <form action="" class="form">
          <label>
            <input type="text" placeholder="Электронная почта">
          </label>
          <label>
            <input type="text" placeholder="Фамилия">
          </label>
          <label>
            <input type="text" placeholder="Имя">
          </label>
          <label>
            <input type="text" placeholder="Отчество">
          </label>

            <app-btn title="Отправить"></app-btn>

        </form>

        <div class="mail_general">
          <div class="mail"></div>
        </div>

      </div>


    </div>


  </div>
</div>
