<div class="vacancy_home">
  <div class="jobs_home">
    <div class="jobs_vacancy_home">
      <div class="h2">Кого мы ищем</div>
      Имидж обуславливает связанный рекламный бриф. Анализ зарубежного опыта переворачивает межличностный
      анализ рыночных цен. Социальная ответственность, безусловно, программирует рекламный клаттер.
    </div>
    <a href="">
      <button>посмотреть вакансии</button>
    </a>


    <app-btn title="ваканасии"></app-btn>

  </div>
</div>


<div>
  <div>{{title}}</div>
</div>
